@import url("generic.css");

body {
    height: 100%;
}

#bookmarkReminder {
    position: absolute;
    background-color: white;
    text-align: center;
    left: 28%;
    right: 28%;
    top: 2%;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 10px;

    animation: fadeOut ease 1s;
    -webkit-animation-delay: 5s;animation-delay: 5s;
    -webkit-animation-duration: 1s;animation-duration: 1s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
}
@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

#main {
    height: 100%;
    text-align: center;
}

#main .grass {
    height: 22.5%;
    width: 100%;
    line-height: 100px;
}
#main .grass img {
    width: 80%;
    height: auto;
    vertical-align:middle;
}

#main .dirt {
    height: 77.5%;
    width: 100%;
}

#bingoLetters div {
    height: 10%;
    width: 10%;
    line-height: 100px;
    position: absolute;
}
#bingoLetters div img {
    height: 80%;
    width: auto;
    vertical-align:middle;
    visibility: visible;
}

#bingoValues div {
    height: 13%;
    width: 10%;
    position: absolute;
    margin: 0.2%;
    font-size: 1em;
    color: rgb(186, 175, 173);
    text-shadow:
     -1px -1px 0 rgb(29, 25, 31),  
      1px -1px 0 rgb(29, 25, 31),
      -2px 3px 0 rgb(29, 25, 31),
       2px 3px 0 rgb(29, 25, 31);
    overflow-y: auto;
    border: 1px solid rgb(29, 25, 31);
}

#bingoMarked div {
    height: 13%;
    width: 10%;
    position: absolute;
    margin: 0.2%;
    color: rgb(186, 175, 173);
    overflow-y: hidden;
}

svg {
    position: absolute;
    margin: 0.2%;
}
rect {
    fill: rgba(0, 0, 0, 0.2);
    width: 19.8%;
    height: 18.5%;
}
rect:hover {
    fill: rgba(0, 0, 0, 0.4);
}

.dirt img {
    visibility: hidden;
}
.dirt img.marked {
    visibility: visible;
}