@import url("generic.css");

table {
    width: 100%;
    text-align: center;
}

#title {
    margin-top: 5%;
}

#title img {
    width: 80%;
    height: auto;
}

#padding {
    padding-top: 15%;
}

button {
    border: 4px solid #000;
    margin: 1%;
    width: 85%;
    
    font-size: 28px;
    text-shadow: 2px 2px #000A;
    box-shadow: inset -4px -6px #585858, inset 4px 4px #FFF7;
    vertical-align: bottom;
    padding-top: 1.8%;
}
#modButton {
    margin-top: 10%;
}