<!DOCTYPE html>
<html>
<head>
    <title>The Nook - Big Dig bingo</title>
    <link rel="stylesheet" href="css/bingocard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/bingocard.js"></script>
</head>
<body>
    <div id="bookmarkReminder">Bookmark this page or write down the 5-character code
        <BR>to access your bingo card in the future!
        <BR>NOTE: Your changes will be saved automatically.</div>
    <div id="main">
        <div class="grass">
            <img src="images/logo-grey.png">
        </div>
        <div class="dirt">
            <div id="bingoLetters">
                <div>
                    <img height="100%" src="images/letter-B.png">
                </div>
                <div>
                    <img height="100%" src="images/letter-I.png">
                </div>
                <div>
                    <img height="100%" src="images/letter-N.png">
                </div>
                <div>
                    <img height="100%" src="images/letter-G.png">
                </div>
                <div>
                    <img height="100%" src="images/letter-O.png">
                </div>
            </div>
            <div id="bingoValues">
                <% for (var i = 0; i < 5; i++) {%>
                    <% for (var j = 0; j < 5; j++) {%>
                        <div>
                            X
                        </div>
                    <% } %>
                <% } %>
            </div>
            <div id="bingoMarked">
                <% for (var row = 0; row < 5; row++) {%>
                    <% for (var col = 0; col < 5; col++) {%>
                        <div>
                            <img height="100%" src="images/marked.png" class="<%= marked[row][col] %>">
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <svg id="cellSvg">
        <% for (var row = 0; row < 5; row++) {%>
            <% for (var col = 0; col < 5; col++) {%>
                <rect onclick="changeMarked(<%= row %>, <%= col %>)" />
            <% } %>
        <% } %>
    </svg>
</body>
</html>