<!DOCTYPE html>
<html>
<head>
    <title>The Nook - Big Dig bingo</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <div id="main">
        <table>
            <tr>
                <td>
                    <div id="title">
                        <img src="images/logo-grey.png">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id=padding></div>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="createCardButton">New bingo card</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="loadCardButton">Load bingo card</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="modButton">I'm a moderator</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>